@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


:root  {
  --background: 0 100% 100%;
  --foreground: 0 5% 10%;
  --card: 0 50% 100%;
  --card-foreground: 0 5% 15%;
  --popover: 0 100% 100%;
  --popover-foreground: 0 100% 10%;
  --primary: 0 100% 43.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -38 30% 95%;
  --muted-foreground: 0 5% 40%;
  --accent: -38 30% 90%;
  --accent-foreground: 0 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 5% 100%;
  --border: 0 30% 82%;
  --input: 0 30% 50%;
  --ring: 0 100% 43.3%;
  --radius: 0.5rem;
}
.dark  {
  --background: 0 50% 10%;
  --foreground: 0 5% 100%;
  --card: 0 50% 10%;
  --card-foreground: 0 5% 100%;
  --popover: 0 50% 5%;
  --popover-foreground: 0 5% 100%;
  --primary: 0 100% 43.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -38 30% 25%;
  --muted-foreground: 0 5% 65%;
  --accent: -38 30% 25%;
  --accent-foreground: 0 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 5% 100%;
  --border: 0 30% 50%;
  --input: 0 30% 50%;
  --ring: 0 100% 43.3%;
  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
